<form [formGroup]="form"
      (ngSubmit)="save()"
      novalidate>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="email"
           class="form-control"
           id="name"
           [ngClass]="{ 'is-invalid': name.invalid && (name.dirty || name.touched) }"
           [formControl]="name">
    <div class="invalid-feedback"
         *ngIf="name.invalid && (name.dirty || name.touched)">
      Please provide a name
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description"
              cols="30"
              rows="10"
              class="form-control"
              [ngClass]="{ 'is-invalid': description.invalid && (description.dirty || description.touched) }"
              [formControl]="description"></textarea>
    <div class="invalid-feedback"
         *ngIf="description.invalid && (description.dirty || description.touched)">
      Please provide a description
    </div>
  </div>
  <button type="submit"
          class="btn btn-success">Save</button>
</form>
